.cover__subtitle {
  margin-top: 32px;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  max-width: 320px;
  max-height: 66px;
}
@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    /* or 114% */
    margin: 16px 0 0;
    min-width: 288px;
    text-align: center;
  }
}
