.cover {
  position: relative;
  margin: 92px auto 0;
  box-sizing: border-box;
  width: 92.5vw;
  height: 57.8125vw;
  max-width: 1184px;
  max-height: 740px;
}

.cover:hover .cover__overlay {
  opacity: 0.8;
}
