@import url(../vendor/normalize.css);
@import url(https://rsms.me/inter/inter.css);

@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/content/content.css);
@import url(../blocks/footer/footer.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/places/places.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/centered/centered.css);

@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);

@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);

@import url(../blocks/intro/__title/into__title.css);
@import url(../blocks/intro/__subtitle/intro__subtitle.css);
@import url(../blocks/intro/__paragraph/intro__paragraph.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__span-accent/intro__span-accent.css);

@import url(../blocks/grid/grid.css);
@import url(../blocks/grid/__items/grid__items.css);
@import url(../blocks/grid/__item-photo/grid__item-photo.css);

@import url(../blocks/places/__grid/places__grid.css);
@import url(../blocks/places/__title/places__title.css);
@import url(../blocks/places/__website/places__website.css);
@import url(../blocks/places/__url-heading/places__url-heading.css);
@import url(../blocks/places/__link/places__link.css);
@import url(../blocks/places/__image/places__image.css);
@import url(../blocks/places/__image-maine/places__image-maine.css);
@import url(../blocks/places/__image-new-hampshire/places__image-new-hampshire.css);
@import url(../blocks/places/__image-new-york/places__image-new-york.css);
@import url(../blocks/places/__image-ohio/places__image-ohio.css);
@import url(../blocks/places/__image-pennsylvania/places__image-pennsylvania.css);
@import url(../blocks/places/__text/places__text.css);
@import url(../blocks/places/__paragraph/places__paragraph.css);

@import url(../blocks/cover/__text/cover__text.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/cover/__background/cover__background.css);
@import url(../blocks/cover/__overlay/cover__overlay.css);

@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

html {
  font-family: "Inter", sans-serif;
}

/*font-weight: 400px*/
@font-face {
  font-family: inter-regular;
  src: url("../../Inter-3.15/Inter\ Web/inter-Regular.woff");
  font-style: normal;
  font-weight: 400;
  font-display: optional;
}
/*font-weight: 700px*/
@font-face {
  font-family: inter-bold;
  src: url("../../Inter-3.15/Inter\ Web/inter-Bold.woff");
  font-style: normal;
  font-weight: 700;
  font-display: optional;
}
/*font-weight: 900px*/
@font-face {
  font-family: inter-black;
  src: url("../../Inter-3.15/Inter\ Web/inter-Black.woff");
  font-style: normal;
  font-weight: 900;
  font-display: optional;
}

/*------------------- Media Query Designed From Desktop to mobile ---------------------*/

/* 1280px and higher (standard laptops and beyond) */
@media screen and (min-width: 1280px) {
}
/*----------------------------------------------------------------*/
/* From 1024px to 1280px (from a tablet in landscape to a standard laptop). */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header {
    width: calc(100% - 96px);
  }
  .lead {
    width: 90.625vw;
    padding-top: 50px;
    min-width: 928px;
  }
  .lead__title {
    width: calc(100% - 208px);
  }
  .lead__subtitle {
    width: calc(100% - 404px);
  }
  .lead__image {
    margin-top: 56px;
    height: 56.640625vw;
  }
  .intro {
    width: calc(100% - 96px);
    min-width: 928px;
  }
  .photo-grid {
    margin: 92px auto 0;
    width: calc(100% - 96px);
  }
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 14px;
  }
  .places {
    width: calc(100% - 96px);
  }
  .places__grid {
    grid-template: 1fr 100%/1fr 1fr;
    grid-gap: 48px 32px;
  }
  .places__image {
    width: 42.96875vw;
    height: 42.96875vw;
  }
  .cover {
    width: 100%;
    height: auto;
    margin: 92px 0 0;
  }
  .cover__background {
    width: 100%;
    height: 62.5vw;
  }
}

/*----------------------------------------------------------------*/
/* From 768px to 1024px (from a tablet in portrait to a tablet in landscape). */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    width: calc(100% - 48px);
  }
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
  }
  .lead {
    width: 100%;
    padding-top: 50px;
  }
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    width: calc(100% - 48px);
  }
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    width: calc(100% - 148px);
  }
  .lead__image {
    margin-top: 56px;
    height: 62.5vw;
  }
  .lead__caption {
    margin-left: 24px;
  }
  .intro {
    margin-top: 88px;
    width: calc(100% - 48px);
    min-width: 720px;
  }
  .photo-grid {
    margin: 88px auto 0;
    width: calc(100% - 48px);
    min-width: 720px;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
  .places {
    margin: 88px auto 0;
    width: calc(100% - 48px);
  }
  .places__grid {
    grid-template: 1fr 100%/1fr 1fr;
    grid-gap: 48px 28px;
  }
  .places__grid:not(:first-child) {
    margin-top: 73px;
  }
  .places__title {
    font-size: 42px;
    line-height: 46px;
    /* identical to box height, or 110% */
  }
  .places__website{
    justify-content: space-between;
  }
  .places__url-heading {
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
  }
  .places__text {
    font-size: 16px;
    line-height: 163%;
    /* or 26px */
  }
  .places__paragraph {
    margin: 25px 0 0;
  }
  /* .places__paragraph:first-child {
    margin-top: 0;
  } */
  .places__image {
    width: 44.27083333333333vw;
    height: 44.270833333333vw;
  }
  .places__text {
    font-size: 16px;
    line-height: 163%;
    /* or 26px */
  }
  .cover {
    width: 100%;
    height: auto;
    margin: 89px 0 0;
  }
  .cover__background {
    width: 100%;
    height: 62.5vw;
  }
  .footer {
    margin: 88px 24px 24px;
  }
}
/*----------------------------------------------------------------*/
/* From 425px to 768px (from a large smartphone to a tablet in portrait). */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .logo {
    max-width: 156px;
  }
  .header {
    width: calc(100% - 32px);
    padding-top: 20px;
  }
  .header__links {
    margin: 10px 0 6px;
  }
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
  .lead {
    padding-top: 50px;
    width: 100%;
  }
  .lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    width: calc(100% - 32px);
    max-width: 288px;
  }
  .lead__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    width: calc(100% - 32px);
    margin: 16px auto 0;
    max-width: 288px;
  }
  .lead__image {
    height: 62.5vw;
    margin-top: 40px;
  }
  .lead__caption {
    margin-left: 16px;
  }
  .intro {
    margin: 64px 16px 0;
  }
  .intro__title {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    /* or 109% */
  }
  .intro__list {
    padding-top: 34px;
  }
  .photo-grid {
    margin: 64px auto 0;
    width: calc(100% - 32px);
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 12px;
  }
  .places {
    width: 100%;
    margin: 64px auto 0;
  }
  .places__grid {
    grid-template: 1fr / 100%;
    grid-gap: 32px;
  }
  .places__grid:not(:first-child) {
    margin-top: 48px;
  }
  .places__title {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    /* identical to box height, or 109% */
    margin: 0 16px;
  }
  .places__website {
    margin: 0 16px;
  }
  .places__url-heading {
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */

    letter-spacing: 0.2em;
  }
  .places__link {
    margin: 12px 0 0;
  }
  .places__image {
    width: 100%;
    height: 100vw;
  }
  .places__text {
    font-size: 16px;
    line-height: 163%;
    /* or 26px */
    margin: 0 16px;
  }
  .places__paragraph {
    margin: 25px 0 0;
  }
  .cover {
    width: 100%;
    height: auto;
    margin: 64px 0 0;
  }
  .cover__text {
    width: calc(100% - 32px);
    margin: 0 auto;
  }
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    /* identical to box height, or 109% */
    min-width: 288px;
  }
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    /* or 114% */
    margin: 16px 0 0;
    min-width: 288px;
    text-align: center;
  }
  .cover__background {
    width: 100%;
    height: 62.5vw;
  }
  .footer {
    display: flex;
    flex-direction: column;
    margin: 64px 0 0 16px;
  }
  .footer__links {
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    display: flex;
    flex-direction: column;
  }
  .footer__links :not(:first-child) {
    margin: 32px 0 0;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */
    margin: 48px 0 24px;
  }

  .footer__link:hover:before {
    visibility: hidden;
  }
}
/*----------------------------------------------------------------*/
@media screen and (max-width: 424px) {
}
