.footer {
  display: flex;
  justify-content: space-between;
  margin: 92px auto 24px;
  max-width: 1184px;
  width: calc(100% - 96px);
}

@media screen and (max-width: 1023px) {
  .footer {
    margin: 88px 24px 24px;
    max-width: 720px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    margin: 64px 0 0 16px;
  }
}
